/* .App {
  margin: 0 auto;
  width: min(31.25rem, 100%);
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: hsl(217, 19%, 24%);
  border-radius: .625rem;
  padding: 1.25rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.advice__id {
  color: hsl(150, 100%, 66%);
  letter-spacing: .25rem;
  font-weight: bold;
  font-size: .75rem;
  padding: 1.5rem;
  text-align: center;
  align-items: center;
}

.advice__text {
  color: hsl(193, 38%, 86%);
  font-size: 1.75rem;
  text-align: center;
}

.advice__button {
  width: 40%;
  padding: .3125rem;
  color: hsl(217, 19%, 24%);
  border-radius: .625rem;
  background-color: hsl(150, 100%, 66%);
  letter-spacing: .25rem;
  border: 0rem;
}

.advice__button:active {
  box-shadow: 0 0 0.2rem 0.2rem hsl(150, 100%, 66%);
} */

.App {
  max-width: 1440px;
  margin: auto;
  width: min(560px, 100%);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  background-color: hsl(217, 19%, 24%);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.advice__id {
  color: hsl(150, 100%, 66%);
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}

.advice__text {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}

.advice__divider {
  background-image: url('./images/pattern-divider-desktop.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.advice__button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border: 0;
  border-radius: 50%;
  background-color: hsl(150, 100%, 66%);
  color: hsl(217, 19%, 24%);
  
}

.advice__button:active {
  box-shadow: 0 0 0.2rem 0.2rem hsl(150, 100%, 66%);
}
